// TODO:全局样式规范
// 背景色
@bg-default: #f6f6f6;
@bg-white: #FFFFFF;
// 头部色彩
@header-bg: rgba(151, 168, 190, .8);
@header-hover: rgba(151, 168, 190, .9);
// 菜单色彩
@sidebar-active: #338AE2;
@sidebar-shadow: #E7EAED;
@sidebar-border: #D1D1D1;
// 文字色彩
@font-white: #FFFFFF;
@font-default: #48576A;
// logo高度
@logo-height: 80px;
// header高度
@header-height: 80px;
// sidebar宽度
@sidebar-width: 200px;
// 表格色彩
@table-bg: #FFFFFF;
@table-shadow: #E4E8EC;
@table-sort-caret: #DCDCDC;
@table-sorting: #2CA2FC;
@table-color: #495869;
@th-bg: #f6f7fb;
@th-border: #97A8BD;
@th-border-top: #DAD1D5;
@td-border: #DAD1D5;
@tr-hover: #F6F7Fb;
@table-head-margin: 20px;
// 表单色彩
@form-bg: #FFFFFF;
@form-shadow: #E4E8EC;
@form-title: #495869;
@form-title-border: #d4d8dd;
@form-padding: 15px;
// 树结构
@tree-border: #D1DAE5;
@tree-hover: #F6F6F6;

