<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcdl.model.mapper.LoginLogMapper">
    <resultMap id="BaseResultMap" type="com.qcdl.model.entity.LoginLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="logname" jdbcType="VARCHAR" property="logname"/>
        <result column="aid" jdbcType="INTEGER" property="aid"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="succeed" jdbcType="VARCHAR" property="succeed"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="message" jdbcType="LONGVARCHAR" property="message"/>
    </resultMap>
</mapper>