<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcdl.model.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.qcdl.model.entity.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
  </resultMap>
    <select id="selectByAid" resultType="com.qcdl.model.entity.Role">
        SELECT r.*
        FROM admin_role ar LEFT JOIN role r ON ar.rid = r.id
        WHERE ar.aid = #{aid}
        ORDER BY r.id
    </select>
</mapper>