<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- 过滤掉spring -->
        <logger name="org.springframework" level="WARN"/>
        <!-- 过滤掉ibatis、zookeeper -->
        <logger name="org.apache" level="WARN"/>
        <!-- 过滤掉dubbo -->
        <logger name="com.alibaba" level="WARN"/>
        <!-- 过滤掉jboss -->
        <logger name="org.jboss" level="WARN"/>
        <!-- 过滤掉zkclient -->
        <logger name="org.I0Itec" level="WARN"/>
        <!-- 过滤掉mybatis -->
        <logger name="org.mybatis" level="WARN"/>
        <!-- 过滤掉swagger -->
        <logger name="io.swagger" level="WARN"/>
        <!-- 过滤掉极光推送 -->
        <logger name="cn.jiguang" level="WARN"/>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>